In [1]:
import pandas as pd
import json
from IPython.display import display

json_path=r"C:\Users\HWRUser\Desktop\DHDK Course\Information Visualization\Data_Italian_publishers\Dati_biblioteche\Biblio_Italia_General_info_2010_2011.json"
with open(json_path, 'r', encoding='utf-8') as file:
    json_data = json.load(file)


# Rimuovere i valori null
cleaned_data = {key: [entry for entry in value if entry is not None] for key, value in json_data.items()}

# Convertire in DataFrame
df_tav_4_3 = pd.DataFrame(cleaned_data["Tav 4.3"])
df_tav_4_3 = df_tav_4_3.replace('\n', '', regex=True)
df_tav_4_3= df_tav_4_3.fillna(value='')
df_tav_4_4 = pd.DataFrame(cleaned_data["Tav 4.4"])
df_tav_4_4= df_tav_4_4.fillna(value='')
df_tav_4_6 = pd.DataFrame(cleaned_data["Tav 4.6"])
df_tav_4_6 = df_tav_4_6.replace('\n', ' ', regex=True)
df_tav_4_6= df_tav_4_6.fillna(value='')

def allinea_testo(val):
    return 'text-align:  center'

# def allinea_testo_1(val):
#     return 'text-align:  left'

# Applica la formattazione alla riga 1
df_tav_4_3 = df_tav_4_3.style.applymap(lambda x: allinea_testo(x) if  x == 'ANNO 2010' or  x == 'ANNO 2011' else '')
df_tav_4_4 = df_tav_4_4.style.applymap(lambda x: allinea_testo(x) if  x == 'ANNO 2010' or  x == 'ANNO 2011' else '')
df_tav_4_6 = df_tav_4_6.style.applymap(lambda x: allinea_testo(x) if  x == 'ANNO 2010' or  x == 'ANNO 2011' else '')



display(df_tav_4_3)
display(df_tav_4_4)
display(df_tav_4_6)

In [2]:
json_path=r"C:\Users\HWRUser\Desktop\DHDK Course\Information Visualization\Data_Italian_publishers\Dati_biblioteche\Biblio_Italia_General_info_2012.json"

with open(json_path, 'r', encoding='utf-8') as file:
    json_data = json.load(file)


# Rimuovere i valori null
cleaned_data = {key: [entry for entry in value if entry is not None] for key, value in json_data.items()}

# Convertire in DataFrame
df_tav_4_3 = pd.DataFrame(cleaned_data["Tav 4.3"])
df_tav_4_3 = df_tav_4_3.replace('\n', '', regex=True)
df_tav_4_4 = pd.DataFrame(cleaned_data["Tav 4.4"])
df_tav_4_6 = pd.DataFrame(cleaned_data["Tav 4.6"])
df_tav_4_6 = df_tav_4_6.replace('\n', ' ', regex=True)

display(df_tav_4_3)
display(df_tav_4_4)
display(df_tav_4_6)

,Tavola 4.3 - Biblioteche per consistenza del patrimonio librario e regione - Anno 2012 (a),Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,REGIONI,Non indicato,Fino a 2.000 volumi,Da 2.001 a 5.000,Da 5.001 a 10.000,Da 10.001 a 100.000,Da 100.001 a 500.000,Da 500.001 a 1.000.000,Oltre 1.000.000 di volumi,Totale
1,Piemonte,60,253,324,141,243,24,1,-,1046
2,Valle d'Aosta/Vall√©e d'Aoste,4,3,18,19,10,1,-,-,55
3,Liguria,63,83,75,68,86,10,1,-,386
4,Lombardia,134,299,436,473,761,32,7,2,2144
5,Trentino-Alto Adige,35,75,111,76,92,9,-,-,398
6,Bolzano/Bozen,33,18,18,32,70,5,-,-,176
7,Trento,2,57,93,44,22,4,-,-,222
8,Veneto,30,77,221,245,272,21,4,1,871
9,Friuli-Venezia Giulia,19,53,108,91,92,9,-,-,372
10,Emilia Romagna,52,180,205,196,376,30,5,2,1046
11,Toscana,55,145,206,164,323,30,2,2,927
12,Umbria,7,105,62,42,54,4,-,-,274
13,Marche,13,34,98,63,95,11,1,-,315
14,Lazio,152,173,216,211,396,47,13,2,1210
15,Abruzzo,34,88,38,24,42,5,-,-,231
16,Molise,3,51,36,9,15,1,-,-,115
17,Campania,56,268,188,138,209,17,1,1,878
18,Puglia,47,139,141,97,168,11,-,-,603
19,Basilicata,14,27,40,26,12,2,-,-,121
20,Calabria,32,132,97,60,58,6,-,-,385
21,Sicilia,71,154,248,153,226,18,2,-,872
22,Sardegna,19,91,151,115,79,8,1,-,464
23,ITALIA,900,2430,3019,2411,3609,296,38,10,12713
24,Nord,397,1023,1498,1309,1932,136,18,5,6318
25,Centro,227,457,582,480,868,92,16,4,2726
26,Mezzogiorno,276,950,939,622,809,68,4,1,3669

,Tavola 4.4 - Biblioteche per tipologia funzionale e regione - Anno 2012 (a),Column2,Column3,Column4,Column5,Column6,Column7
0,REGIONI,Nazionali,Istituti d'istruzione superiore,Pubbliche,Speciali,Importanti non specializzate,Totale
1,Piemonte,-,89,597,326,34,1046
2,Valle d'Aosta/Vall√©e d'Aoste,-,1,44,8,2,55
3,Liguria,-,86,145,122,33,386
4,Lombardia,-,223,786,562,573,2144
5,Trentino-Alto Adige,-,3,247,83,65,398
6,Bolzano/Bozen,-,2,171,34,15,222
7,Trento,-,1,76,49,50,176
8,Veneto,-,86,434,160,191,871
9,Friuli-Venezia Giulia,-,70,178,86,38,372
10,Emilia Romagna,-,193,472,374,7,1046
11,Toscana,1,170,298,406,52,927
12,Umbria,-,105,58,74,37,274
13,Marche,-,68,108,82,57,315
14,Lazio,1,182,405,577,45,1210
15,Abruzzo,-,12,153,42,24,231
16,Molise,-,2,98,6,9,115
17,Campania,-,183,374,257,64,878
18,Puglia,-,154,229,141,79,603
19,Basilicata,-,2,93,18,8,121
20,Calabria,-,24,222,112,27,385
21,Sicilia,-,235,370,149,118,872
22,Sardegna,-,93,260,75,36,464
23,ITALIA,2,1981,5571,3660,1499,12713
24,Nord,-,751,2903,1721,943,6318
25,Centro,2,525,869,1139,191,2726
26,Mezzogiorno,-,705,1799,800,365,3669

,Tavola 4.6 - Biblioteche per consistenza del patrimonio librario e tipologia funzionale - Anno 2012,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,TIPOLOGIA,Non indicato,Fino a 2.000 volumi,Da 2.001 a 5.000,Da 5.001 a 10.000,Da 10.001 a 100.000,Da 100.001 a 500.000,Da 500.001 a 1.000.000,Oltre 1.000.000 di volumi,Totale
1,Nazionali,-,-,-,-,-,-,-,2,2
2,Di Istituti superiori,183,463,364,296,603,66,4,2,1981
3,Pubbliche,429,1192,1902,1437,579,26,4,2,5571
4,Specializzate,264,759,736,612,1165,111,11,2,3660
5,Importanti non specializzate,24,16,17,66,1262,93,19,2,1499
6,Totale,900,2430,3019,2411,3609,296,38,10,12713